.card {
    background-size: cover;
    background-repeat: none !important;
    margin-bottom: 40px;
    /* border-radius: 15px !important; */
    box-shadow: 1px 3px 10px 10px rgba(185, 185, 185, 0.267);
    cursor: pointer;
}

.cardBody {
    margin: -1px;
    background-color: white;
    /* border-radius: 0px 0px 15px 15px; */
    z-index: 5;
}

.imgWrapper {
    /* border-radius: 14px 14px 0 0; */
    height: 130px;
    /* border-radius: 14px 14px 0 0; */
}

.imgWrapper img {
    /* border-radius: 14px 14px 0 0; */
    background-size: cover;
}

.cardBody .cardTitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.cardBody .cardText {
    font-family: "Open Sans", sans-serif;
    font-size: 13px !important;
    text-align: center;
    /* margin-bottom: 10px; */
}