.slide {
    height: 200px !important;
    border-radius: 12px;
}

.slide .slideItem {
    background-size: cover;
    border-radius: 12px;
    height: 100%;
    box-shadow: 0px 10px 10px 0px rgba(185, 185, 185, 0.2);
}
